/*Formulario de Registro Nuevo Usuario*/
.form-register{
    width: 100%;
    height: auto;
    /* background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px; */
    line-height: 15px;
    padding: 20px;
  }
  .form-register .form-label{
    float: left;
    font-weight: bold;
  }
  .form-register .input-group{
    width: 100%;
  }
  .btn-registro{
    width: 100%;
    border-radius: 40px;
  }